@import './common';
@import './example';

.search-form {
    background-color: tomato;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 15px;
    padding-inline: 15px;
    //   justify-content: space-evenly;
  }
  
  img {
    //   width: calc(100vw - 20px * 3) / 4;
    display: block;
    width: 100%;
    height: 75%;
  }
  
  .photo-card {
    //   width: calc(100vw - 20px * 3) / 4;
    width: calc((100% - 15px * 3) / 4);
    height: auto;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
  }
  .info {
    display: flex;
    text-align: center;
    border-inline: 1px solid grey;
    border-bottom: 1px solid grey;
    flex-grow: 1;
    justify-content: space-around;
  }
  .info-item {
    margin-bottom: 10px;
  }
  .load-more {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-inline: 5px;
    border: none;
    display: block;
    margin-inline: auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .load-more:active {
    background-color: tomato;
  }
  .load-more.hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }